[submodule "UI_Microservice"]
	path = UI_Microservice
	url = https://github.com/lexmarkCS499/UI_Microservice.git
[submodule "API_Microservice"]
	path = API_Microservice
	url = https://github.com/lexmarkCS499/API_Microservice.git 
[submodule "DB_Microservice"]
	path = DB_Microservice
	url = https://github.com/lexmarkCS499/DB_Microservice.git
[submodule "ArgoCD-Configs"]
	path = ArgoCD-Configs
	url = https://github.com/lexmarkCS499/ArgoCD-Configs.git
